[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target
[Service]
# имя вашего пользователя
User=user 
#путь до каталога с файлом manage.py
WorkingDirectory=/home/user/website-deploy-tutorial/backend
ExecStart=gunicorn --workers 3 -b 0.0.0.0:8000 backend.wsgi --bind unix:/run/gunicorn.sock
#путь до файла gunicorn в виртуальном окружении (также не забудьте указать верный путь до файла wsgi (обычно лежит рядом с settings.py))
[Install]
WantedBy=multi-user.target
